body{
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.top_bar {
    height: 40px;
    background: #222;
    color: #eee;
}
.main_bar {
    height: calc(100vh - 40px);
    background: #333;
    color: #eee;
}
.title {
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    float:left;
}
.title_input, .title_output {
    width: 35%;
}
.title_settings {
    line-height: 24px;
    margin: 8px 0;
    width: 30%;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    box-sizing: border-box;
}
#input, #result {
    width: 35%;
    height: 100%;
    float:left;
    resize: none;
}
.settings_box {
    height: 100%;
    overflow-y: auto;

    float:left;
    text-align: center;
    width:30%;

    padding: 0 40px;
    box-sizing: border-box;
}
.hidden {
    display:none;
    visibility: hidden;
}
.setting {
    padding: 20px;
    text-align: center;
}
.setting > * {
    display: block;
    margin:auto;
}
a {
    color:white;
}
a:visited {
    color: #ddd;
}
.instructions ol {
    padding: 0;
    margin:0;
}
.instructions li {
    text-align:justify;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.instructions li:last-child {
    border-bottom: none;
}

.language_radiobuttons label {
    display:inline-block;
    line-height: 24px;
    width: 80px;
}

.language_radiobuttons input {
    display:inline-block;
    position:relative;
    top:2px;

}